@import url('fontface-thaisansneue.css');
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
html{
  overflow-x: hidden;
}
body{
    font-family: 'Thaisans Neue for Web', sans-serif !important;
    font-weight: 400;
    color: white;
    height: 100vh;
    background-image:  url("../img/bg31.png");
    background-size: cover;
    overflow-x: hidden !important;
}
.return{
  position: absolute;
  font-size: 3em;
  margin: 0.15em 0 0 0.25em;
  color: white;
}
.spin1{
  position: absolute;
  animation: movePic 6s infinite linear;
}
.spin2{
  position: absolute;
  animation: movePic 6s infinite linear;
}
@keyframes movePic {
    0%   {top: 0px;}
    25%  {top: 10px;}
    50%  {top: 20px;}
    75%  {top: 10px}
    100% {top: 0px;}
}
.gameZone{
  display: none;
}
.hideGame{
  width: 100vw;
  height: 100vh;
  background-color: rgb(19, 20, 55);
  display: flex;
  align-items: center;
  justify-content: center;
}
.textHide img{
  height: 7em;
}
.textHide h2 {
    margin: 0.5em 0;
    font-size: 1.8em;
}
.detailHide{
  position: absolute;
  bottom: 3em;
}
.logoGame{
  margin: 2em 0 0 0;
  width: 20em;
}
@keyframes animationFrames{
0% {
transform:    rotate(0deg) ;
}
100% {
transform:   rotate(360deg) ;
}
}
#game canvas{
  margin: 18px auto !important;
  border: solid;
  border-radius: 8px;
  font-family: 'Thaisans Neue for Web', sans-serif !important;
}

@media only screen and
(min-width: 0px) and
(max-width: 800px){
  html{
    overflow: hidden;
  }
  body{
    overflow: hidden;
  }
}


@media only screen and
(min-width:800px) and
(max-width:1024px){

}
@media only screen and
(min-width:1024px) and
(max-width:1200px){
  .bg-earth{
    height: 200px;
    position: absolute;
    bottom: 0;
    left: -120px;
    overflow: hidden;
    z-index: -1;
  }
  .earth{
      background-image: url("../img/earth.png");
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      z-index: -1;
      width: 1200px;
      height: 1200px;
      overflow-y: hidden;
      margin-top: -100px;
      animation: animationFrames 90s  infinite linear;
  }
  .return{
    font-size: 3em;
    margin: 0.15em 0 0 0.5em;
    z-index: 3;
  }
  body{
    overflow-x: hidden;
  }
  .star{
    position: absolute;
    top:200px;
    left: -50px;
    width: 10vw;
  }
  .satte{
    position: absolute;
    top:600px;
    left: 900px;
    width: 8vw;
  }
  .gameZone{
    display: block !important;
  }
  .hideGame{
    display: none !important;
  }
}
@media only screen and
(min-width:1200px) and
(max-width:1280px){
  .return{
    font-size: 3em;
    margin: 0.15em 0 0 0.5em;
  }
  body{
    overflow-x: hidden;
  }
  .star{
    position: absolute;
    top:200px;
    left: 0px;
    width: 10vw;
  }
  .satte{
    position: absolute;
    top:500px;
    left: 1000px;
    width: 10vw;
  }
  .bg-earth{
    height: 300px;
    position: absolute;
    bottom: 0;
    left: -30px;
    overflow: hidden;
    z-index: -1;
  }
  .earth{
      background-image: url("../img/earth.png");
      background-repeat: no-repeat ;
      background-position: center;
      background-size: cover;
      z-index: -1;
      width: 1200px;
      height: 1200px;
      overflow-y: hidden;
      margin-top: -100px;
      animation: animationFrames 90s  infinite linear;
  }
  .gameZone{
    display: block !important;
  }
  .hideGame{
    display: none !important;
  }
}

@media only screen and
(min-width:1280px) and
(max-width:1440px){
  .bg-earth{
    height: 300px;
    position: absolute;
    bottom: 0;
    left: -30px;
    overflow: hidden;
    z-index: -1;
  }
  .earth{
      background-image: url("../img/earth.png");
      background-repeat: no-repeat ;
      background-position: center;
      background-size: cover;
      z-index: -1;
      width: 1200px;
      height: 1200px;
      overflow-y: hidden;
      margin-top: -100px;
      animation: animationFrames 90s  infinite linear;
  }
  .star{
    position: absolute;
    top:200px;
    left: -80px;
    width: 13vw;
  }
  .satte{
    position: absolute;
    top:500px;
    left: 1020px;
    width: 12vw;
  }
  .logoGame{
    margin-top: 2em;
  }
  .gameZone{
    display: block;
  }
  .hideGame{
    display: none;
  }
}

@media only screen and
(min-width:1440px) and
(max-width:1600px){
  .bg-earth{
    height: 300px;
    position: absolute;
    bottom: 0;
    left: -30px;
    overflow: hidden;
    z-index: -1;
  }
  .earth{
      background-image: url("../img/earth.png");
      background-repeat: no-repeat ;
      background-position: center;
      background-size: cover;
      z-index: -1;
      width: 1200px;
      height: 1200px;
      overflow-y: hidden;
      margin-top: -100px;
      animation: animationFrames 90s  infinite linear;
  }
  .star{
    position: absolute;
    top:200px;
    left: -100px;
    width: 14vw;
  }
  .satte{
    position: absolute;
    top:500px;
    left: 1040px;
    width: 12vw;
  }
  .gameZone{
    display: block;
  }
  .logoGame{
    width: 20em;
    margin: 2em 0 0 0;
  }
  .hideGame{
    display: none;
  }
}

@media only screen and
(min-width:1600px){
  .bg-earth{
    height: 250px;
    position: absolute;
    bottom: 0;
    left: -30px;
    overflow: visible;
    z-index: -1;
  }
  .earth{
      background-image: url("../img/earth.png");
      background-repeat: no-repeat ;
      background-position: center;
      background-size: cover;
      z-index: -1;
      width: 1200px;
      height: 1200px;
      overflow-y: hidden;
      margin-top: -100px;
      animation: animationFrames 90s  infinite linear;
  }
  .star{
    position: absolute;
    top:200px;
    left: -180px;
    width: 14vw;
  }
  .satte{
    position: absolute;
    top:500px;
    left: 1090px;
    width: 12vw;
  }
  body{
    overflow: hidden !important;
  }
  .logoGame{
    width: 20em;
    margin-bottom: 0.5em;
  }
  .gameZone{
    margin-top: 1em;
    display: block;
  }
  .hideGame{
    display: none;
  }
}
@media only screen and
(min-width:1800px){
  .bg-earth{
    height: 250px;
    position: absolute;
    bottom: 0;
    left: -30px;
    overflow: visible;
    z-index: -1;
  }
  .earth{
      background-image: url("../img/earth.png");
      background-repeat: no-repeat ;
      background-position: center;
      background-size: cover;
      z-index: -1;
      width: 1200px;
      height: 1200px;
      overflow-y: hidden;
      margin-top: -100px;
      animation: animationFrames 90s  infinite linear;
  }
  .star{
    position: absolute;
    top:300px;
    left: -300px;
    width: 10vw;
  }
  .satte{
    position: absolute;
    top:500px;
    left: 1200px;
    width: 9vw;
  }
  body{
    overflow: hidden !important;
  }
  .logoGame{
    width: 20em;
    margin-bottom: 0.5em;
  }
  .gameZone{
    margin-top: 1em;
    display: block;
  }
  .hideGame{
    display: none;
  }
}

@media only screen
and (device-width : 768px)
and (device-height : 1024px)
and (orientation : portrait){
  .textHide h2 {
      margin: 0.5em 0;
      font-size: 3em;
  }
  .textHide h5{
    font-size: 2em;
  }
  .detailHide h5{
    font-size: 1.5em;
  }
  .return{
    font-size: 6em;
  }
  .gameZone{
    display: none !important;
  }
  .hideGame{
    display: flex !important;
    align-items: center;
    justify-content: center;
  }
}
@media only screen
and (device-height : 768px)
and (device-width : 1024px)
and (orientation : landscape) {
  .textHide h5{
    font-size: 1.65em;
  }
  .detailHide h5{
    font-size: 1.5em;
  }
  .return{
    font-size: 3em;
  }
  .gameZone{
    display: none !important;
  }
  .hideGame{
    display: flex !important;
    align-items: center;
    justify-content: center;
  }
}

@media only screen and
(device-width: 1024px) and
(device-height: 1366px) and
(orientation:portrait){
  .textHide h5{
    font-size: 2em;
  }
  .detailHide h5{
    font-size: 2em;
  }
  .return{
    font-size: 6em;
  }
  .gameZone{
    display: none !important;
  }
  .hideGame{
    display: flex !important;
    align-items: center;
    justify-content: center;
  }
}

@media only screen and
(device-width: 1366px) and
(device-height: 1024px) and
(orientation:landscape){
  .textHide h5{
    font-size: 1.65em;
  }
  .detailHide h5{
    font-size: 2em;
  }
  .return{
    font-size: 6em;
  }
  .gameZone{
    display: none !important;
  }
  .hideGame{

    display: flex !important;
    align-items: center;
    justify-content: center;
  }
  .textHide img{
    height: 15em;
  }
  .textHide h2{
    font-size: 3em;
  }
}
