@import url('fontface-thaisansneue.css');
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

html{
  height: 100vh;
  overflow-x: hidden;
}
.hide{
  background-color: rgb(75, 0, 149) !important;
}

body{
  height: 100vh;
  margin: 0 0 0 0;
  font-family: 'Thaisans Neue for Web', sans-serif !important;
  background: linear-gradient(#188c83, #003a37, #000);
  overflow-y: hidden;
}

/* Desktop + Android */
@media only screen
and (min-width:0px)
and (orientation: portrait){
  body {
      margin: 0 0 0 0;
      overflow: hidden;
  }
  .container{
    margin: 0 0 0 0 !important;
  }
  .hide{
    background-color: #2d214d;
    position: absolute;
    width: 100vw;
    height: 100vh;
 }
 .rotate{
   width: 500px;
   height: auto;
   position: absolute;
   top:700px;
   left: 250px;
 }
 .rotateIpad{
   width: 0px;
   height: 0px;
 }
 .textHide{
   font-size: 50px;
   color: #fff;
   position: absolute;
   top: 980px;
   left: 200px;
 }
  center{
    overflow: hidden;
  }
  #game{
      display: none;
  }
}
@media only screen
and (min-width:0px)
and (orientation: landscape){
  body {
      margin: 0 0 0 0;
      overflow: hidden;
  }
  .container{
    margin: 0 0 0 0 !important;
  }
  .hide{
     width: 0vw;
     height: 0vh;
  }
  .rotate{
    width: 0px;
    height: 0px;
  }
  .rotateIpad{
    width: 0px;
    height: 0px;
  }
  .textHide{
    font-size: 0px;
  }
  center{
    overflow: hidden;
  }
  #game canvas{
      margin: 0px auto;
  }
  .etkLogo{
    display: none;
  }
  .gameLogo{
    /*width: 35%;*/
    display: none;
  }
  .underwater{
    position: absolute;
    width: 100vw;
    bottom: 0;
    height: 75vh;
    z-index: -1;
  }

  .picUnder{
    margin: 0;
    z-index: -2;
    bottom: 0;
    position: absolute;  }

  .backButton{
    padding: 5px 0px 0 0.5em;
    font-size: 2em;
    color: white;
    position: absolute;
    left: 0;
    z-index: 50;
  }
  .textInvite{
    display: none;
  }
}


@media only screen
and (min-width:800px)
and (orientation:portrait){
  body {
      margin: 0 0 0 0;
      padding: 0 0 0 0 !important;
      overflow: hidden;
  }
  center{
    overflow: hidden;
  }
  .hide{
     background-color: red;
     position: absolute;
     width: 100vw;
     height: 100vh;
  }
  .rotate{
    width: 500px;
    height: auto;
    position: absolute;
    top:680px;
    left: 250px;
  }
  .rotateIpad{
    width: 0px;
    height: 0px;
  }
  .etkLogo{
    display: none;
  }
  .textHide{
    font-size: 50px;
    color: #fff;
    position: absolute;
    top: 980px;
    left: 200px;
  }
  #game{
      display: none;
  }
  .underwater{
    position: absolute;
    width: 100vw;
    bottom: 0;
    height: 75vh;
    z-index: -1;
  }

  .picUnder{
    margin: 0;
    z-index: -2;
    bottom: 0;
    position: absolute;  }

  .backButton{
    padding: 5px 0px 0 0.5em;
    font-size: 6em;
    color: white;
    position: absolute;
    left: 0;
    z-index: 50;
  }
}

@media only screen
and (min-width:800px)
and (orientation: landscape){
  body {
      margin: 0 0 0 0;
      padding: 0 0 0 0 !important;
      /*overflow: hidden;*/
  }
  center{
    /*overflow: hidden;*/
  }
  .container{
    margin: 0 0 0 0;
  }

  .hide{
     /*width: 100vw;
     height: 100vh;
     background-color: red;*/
     display: none;
  }
  .backButton{
    display: none;
  }
  .rotate{
    width: 300px;
    height: 300px;
    position: absolute;
    top:120px;
    left: 330px;
  }
  .rotateIpad{
    width: 0px;
    height: 0px;
  }
  .textHide{
    font-size: 35px;
    color: #fff;
    position: absolute;
    top: 350px;
    left: 250px;
  }
  #game {
      display: block;
  }
  .underwater{
    position: absolute;
    width: 100vw;
    bottom: 0;
    height: 75vh;
    z-index: -1;
  }

  .picUnder{
    margin: 0;
    z-index: -2;
    bottom: 0;
    position: absolute;  }

  .backButton{
    padding: 5px 0px 0 0.5em;
    font-size: 4.5em;
    color: white;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 50;
  }
}

@media only screen
and (min-width:1024px){
  body {
      /*margin: 0 0 0 0;*/
      margin: 0 0 0 0;
      padding: 0 0 0 0;
      /*overflow: hidden;*/
  }
  center{
    /*overflow: hidden;*/
  }
  .container{
    /*margin: 3% 0 0 0 !important;*/
    padding: 10.5vh 0 !important ;
  }
  .hide{
     width: 0vw;
     height: 0vh;
  }

  .rotate{
    width:0;
    height: 0;
  }
  .rotateIpad{
    width: 0px;
    height: 0px;
  }
  .textHide{
    font-size: 0px;
  }
  #game{
    display: block;
  }
  #game canvas{
    margin: 0px auto !important;
    position: absolute;
    left: 0;
    right: 0;
    top: 6.5em;
  }
  .etkLogo{
    position: absolute;
    left: 0;
    right: 0;
    top: 1.8em;
    display: block;
  }
  .gameLogo{

    width: 35%;
    display: block;
  }
  .underwater{
    position: absolute;
    width: 100vw;
    bottom: -5em;
    height: 75vh;
    z-index: -1;
  }

  .picUnder{
    width: 100vw;
    margin: 0;
    z-index: -2;
    bottom: 0;
    position: absolute;
  }

  .backButton{
    padding: 2.5px 0px 0 0.5em;
    font-size: 3em;
    color: white;
    position: absolute;
    left: 0;
    z-index: 50;
  }
  .textInvite{
    display: none;
  }
}


@media only screen
and (min-width:1200px){
  body {
      margin: 0 0 0 0;
      /*overflow: hidden;*/
      height: 100vh;
  }
  center{
    /*overflow: hidden;*/
  }
  .container{
    /*margin: 3em 0 0 0;*/
    padding: 11vh 0!important;
  }
  .hide{
     width: 0vw;
     height: 0vh;
  }
  .rotate{
    width:0;
    height: 0;
  }
  .rotateIpad{
    width: 0px;
    height: 0px;
  }
  .textHide{
    font-size: 0px;
  }
  #game canvas{
    margin: 0px auto !important;
    position: absolute;
    left: 0;
    right: 0;
    top: 6.5em;
  }
  .etkLogo{
    position: absolute;
    left: 0;
    right: 0;
    top: 1.8em;
    display: block;
  }
  .gameLogo{

    width: 35%;
    display: block;
  }
  .underwater{
    position: absolute;
    width: 100vw;
    bottom: -5em;
    height: 75vh;
    z-index: -1;
  }

  .picUnder{
    width: 100vw;
    margin: 0;
    z-index: -2;
    bottom: 0;
    position: absolute;
  }

  .backButton{
    padding: 2.5px 0px 0 0.5em;
    font-size: 3em;
    color: white;
    position: absolute;
    left: 0;
    z-index: 50;
  }
  .textInvite{
    display: none;
  }

}

@media only screen
and (min-width:1300px){
  body {
      margin: 0 0 0 0;
      /*overflow: hidden;*/
      height: 100vh;
  }
  center{
    /*overflow: hidden;*/
  }
  .container{
    /*margin: 3% 0 0 0 !important;*/
    padding: 7vh 0!important;
  }
  .hide{
     width: 0vw;
     height: 0vh;
  }
  .rotate{
    width:0;
    height: 0;
  }
  .rotateIpad{
    width: 0px;
    height: 0px;
  }
  .textHide{
    font-size: 0px;
  }
  html{
    overflow-x: hidden !important;
  }
  .etkLogo{
    display: block;
  }
  #game canvas{
    margin: 0px auto !important;
    position: absolute;
    left: 0;
    right: 0;
    top: 8.5em;
  }
  .etkLogo{
    position: absolute;
    left: 0;
    right: 0;
    top: 1.8em;
    display: block;
  }
  .gameLogo{

    width: 35%;
    display: block;
  }
  .underwater{
    position: absolute;
    width: 100vw;
    bottom: -15em;
    height: 75vh;
    z-index: -1;
  }

  .picUnder{
    width: 100vw;
    margin: 0;
    z-index: -2;
    bottom: 0em;
    position: absolute;
  }

  .backButton{
    padding: 2.5px 0px 0 0.5em;
    font-size: 3em;
    color: white;
    position: absolute;
    left: 0;
    z-index: 50;
  }
  .textInvite{
    display: none;
  }
  .styleLink{
    display: none;
  }
}

@media only screen
and (min-width:1366px){
  body {
      margin: 0 0 0 0;
      /*overflow: hidden;*/
  }
  center{
    /*overflow: hidden;*/
  }
  .container{
    /*margin: 3% 0 0 0 !important;*/
    padding: 7vh 0!important;
  }
  .hide{
     width: 0vw;
     height: 0vh;
  }
  .rotate{
    width:0;
    height: 0;
  }
  .rotateIpad{
    width: 0px;
    height: 0px;
  }
  .textHide{
    font-size: 0px;
  }
  html{
    overflow: hidden !important;
  }
  .etkLogo{
    display: none;
  }
  .underwater{
    position: absolute;
    width: 100vw;
    bottom: 0;
    height: 75vh;
    z-index: -1;
  }

  .picUnder{
    width: 100vw;
    margin: 0;
    z-index: -2;
    bottom: 0;
    position: absolute;
  }


  #game canvas{
    z-index: 5;
    top: 1em;
    left: 0;
    right: 0;
    position: absolute;
    display: block;
    touch-action: none;
    user-select: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    width: 980px;
    height: 550px;
    cursor: inherit;
  }
  .backButton{
    padding: 5px 0px 0 0.5em;
    font-size: 55px;
    color: white;
    position: absolute;
    left: 0;
    z-index: 50;
  }
  .textInvite{
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    color: white;
    letter-spacing: 0.02423em;
    background-color: rgba(24, 23, 22, 0.66);
  }
  .styleLink{
    color: rgb(255, 128, 0);
    font-size: 1em;
    display: inline;
  }
}

@media only screen
and (min-width:1440px){
  body {
      margin: 0 0 0 0;
      overflow: hidden;
  }
  center{
    overflow: hidden;
  }
  .container{
    /*margin: 5em 0 0 0;*/
    padding: 15vh 0 !important;
  }
  .hide{
     width: 0vw;
     height: 0vh;
  }
  .rotate{
    width:0;
    height: 0;
  }
  .rotateIpad{
    width: 0px;
    height: 0px;
  }
  .textHide{
    font-size: 0px;
  }
  html{
    overflow: hidden !important;
  }
  .etkLogo{
    width: auto;
    top: 2em;
    left: 0;
    right: 0;
    display: block;
    position: absolute;
  }
  .gameLogo{
    width: 35%;
  }
  .underwater{
    position: absolute;
    width: 100vw;
    bottom: 0;
    height: 75vh;
    z-index: -1;
  }

  .picUnder{
    margin: 0;
    z-index: -2;
    bottom: 0;
    position: absolute;  }

  #game canvas{
    z-index: 5;
    top: 9em;
    left: 0;
    right: 0;
    position: absolute;
    display: block;
    touch-action: none;
    user-select: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    width: 980px;
    height: 550px;
    cursor: inherit;
  }
  .backButton{
    padding: 5px 0px 0 0.5em;
    font-size: 5em;
    color: white;
    position: absolute;
    left: 0;
    z-index: 50;
  }
  .textInvite{
    display: block;
    font-size: 1em;
    height: auto;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    color: white;
    letter-spacing: 0.02423em;
    background-color: rgba(24, 23, 22, 0.66);
  }
  .styleLink{
    color: rgb(255, 128, 0);
    /*font-size: 1em;*/
  }
}
@media only screen
and (min-width:1600px){
  body {
      margin: 0 0 0 0;
      overflow: hidden;
  }
  center{
    overflow: hidden;
  }
  .container{
    /*margin: 6em 0 0 0;*/
    padding: 20vh 0 !important;
  }
  .hide{
     width: 0vw;
     height: 0vh;
  }
  .rotate{
    width:0;
    height: 0;
  }
  .rotateIpad{
    width: 0px;
    height: 0px;
  }
  .textHide{
    font-size: 0px;
  }
  html{
    overflow: hidden !important;
  }
  .etkLogo{
    width: auto;
    top: 2em;
    left: 0;
    right: 0;
    display: block;
    position: absolute;
  }
  .gameLogo{
    width: 35%;
  }
  .underwater{
    position: absolute;
    width: 100vw;
    bottom: 0;
    height: 75vh;
    z-index: -1;
  }

  .picUnder{
    margin: 0;
    z-index: -2;
    bottom: 0;
    position: absolute;  }

  #game canvas{
    z-index: 5;
    top: 9em;
    left: 0;
    right: 0;
    position: absolute;
    display: block;
    touch-action: none;
    user-select: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    width: 980px;
    height: 550px;
    cursor: inherit;
  }
  .backButton{
    padding: 5px 0px 0 0.5em;
    font-size: 5em;
    color: white;
    position: absolute;
    left: 0;
    z-index: 50;
  }
  .textInvite{
    display: block;
    font-size: 1.3em;
    height: auto;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    color: white;
    letter-spacing: 0.02423em;
    background-color: rgba(24, 23, 22, 0.66);
  }
  .styleLink{
    color: rgb(255, 128, 0);
    /*font-size: 1em;*/
  }
}

@media only screen
and (min-width:1900px){
  body {
      margin: 0 0 0 0;
      overflow: hidden;
  }
  center{
    overflow: hidden;
  }
  .container{
    /*margin: 6em 0 0 0;*/
    padding: 20vh 0 !important;
  }
  .hide{
     width: 0vw;
     height: 0vh;
  }
  .rotate{
    width:0;
    height: 0;
  }
  .rotateIpad{
    width: 0px;
    height: 0px;
  }
  .textHide{
    font-size: 0px;
  }
  html{
    overflow: hidden !important;
  }
  .etkLogo{
    width: auto;
    top: 2em;
    left: 0;
    right: 0;
    display: block;
    position: absolute;
  }
  .gameLogo{
    width: 35%;
  }
  .underwater{
    position: absolute;
    width: 100vw;
    bottom: 0;
    height: 75vh;
    z-index: -1;
  }

  .picUnder{
    margin: 0;
    z-index: -2;
    bottom: 0;
    position: absolute;  }

  #game canvas{
    z-index: 5;
    top: 12em;
    left: 0;
    right: 0;
    position: absolute;
    display: block;
    touch-action: none;
    user-select: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    width: 980px;
    height: 550px;
    cursor: inherit;
  }
  .backButton{
    padding: 5px 0px 0 0.5em;
    font-size: 5em;
    color: white;
    position: absolute;
    left: 0;
    z-index: 50;
  }
  .textInvite{
    font-size: 1.3em;
    height: auto;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    color: white;
    letter-spacing: 0.02423em;
    background-color: rgba(24, 23, 22, 0.66);
  }
  .styleLink{
    color: rgb(255, 128, 0);
    /*font-size: 1em;*/
  }
}

/* iphone5 */
@media only screen
and (device-width:320px)
and (device-height:568px)
and (orientation: portrait){
  body{
    margin: 0 0 0 0;
  }
  .etkLogo{
    display: none;
  }
  .hide{
     background-color: red;
     position: absolute;
     width: 100vw;
     height: 100vh;
  }
  .rotate{
    width: 500px;
    height: auto;
    position: absolute;
    top:680px;
    left: 250px;
  }
  .rotateIpad{
    width: 0px;
    height: 0px;
  }
  .textHide{
    font-size: 50px;
    color: #fff;
    position: absolute;
    top: 980px;
    left: 200px;
  }
  #game{
      display: none;
  }
  .backButton{
    padding: 5px 0px 0 0.5em;
    font-size: 6em;
    color: white;
    position: absolute;
    left: 0;
    z-index: 50;
  }
}
@media only screen
and (device-width:568px)
and (device-height:320px)
and (orientation: landscape){
  body{
    padding: 0 0 0 0;
    margin: 0 0 0 0;
  }
  .etkLogo{
    display: none;
  }
  .container{
    /*margin: 0 0 0 0 !important;*/
  }
  .hide{
     /*width: 100vw;
     height: 100vh;
     background-color: red;*/
     display: none;
  }
  .underwater{
    display: none;
  }
  .backButton{
    display: none;
  }
  .rotate{
    width: 300px;
    height: 300px;
    position: absolute;
    top:120px;
    left: 330px;
  }
  .rotateIpad{
    width: 0px;
    height: 0px;
  }
  .textHide{
    font-size: 35px;
    color: #fff;
    position: absolute;
    top: 350px;
    left: 250px;
  }
  #game {
      display: block;
  }
}

/* iphone6 */
@media only screen
and (device-width:375px)
and (device-height:667px)
and (orientation: portrait){
  .backButton{
    padding: 5px 0px 0 0.5em;
    font-size: 6em;
    color: white;
    position: absolute;
    left: 0;
    z-index: 50;
  }
  .etkLogo{
    display: none;
  }
  body{
    margin: 0 0 0 0;
  }
  .hide{
     background-color: red;
     position: absolute;
     width: 100vw;
     height: 100vh;
  }
  .rotate{
    width: 500px;
    height: auto;
    position: absolute;
    top:680px;
    left: 250px;
  }
  .rotateIpad{
    width: 0px;
    height: 0px;
  }
  .textHide{
    font-size: 50px;
    color: #fff;
    position: absolute;
    top: 980px;
    left: 200px;
  }
  #game{
      display: none;
  }
}
@media only screen
and (device-width:667px)
and (device-height:375px)
and (orientation: landscape){
  body{
    padding: 0 0 0 0;
    margin: 0 0 0 0;
  }
  .etkLogo{
    display: none;
  }
  .container{
    /*margin: 0 0 0 0 !important;*/
  }
  .hide{
     display: none;
  }
  .underwater{
    display: none;
  }
  .backButton{
    display: none;
  }
  .rotate{
    width: 300px;
    height: 300px;
    position: absolute;
    top:100px;
    left: 330px;
  }
  .rotateIpad{
    width: 0px;
    height: 0px;
  }
  .textHide{
    font-size: 35px;
    color: #fff;
    position: absolute;
    top: 330px;
    left: 250px;
  }
  #game {
      display: block;
  }
}
/* iphone6 plus */
@media only screen
and (device-width:414px)
and (device-height:736px)
and (orientation: portrait){
  .backButton{
    padding: 5px 0px 0 0.5em;
    font-size: 6em;
    color: white;
    position: absolute;
    left: 0;
    z-index: 50;
  }
  .etkLogo{
    display: none;
  }
  body{
    margin: 0 0 0 0;
  }
  .hide{
     background-color: red;
     position: absolute;
     width: 100vw;
     height: 100vh;
  }
  .rotate{
    width: 500px;
    height: auto;
    position: absolute;
    top:680px;
    left: 250px;
  }
  .rotateIpad{
    width: 0px;
    height: 0px;
  }
  .textHide{
    font-size: 50px;
    color: #fff;
    position: absolute;
    top: 980px;
    left: 200px;
  }
  #game{
      display: none;
  }
}
@media only screen
and (device-width:736px)
and (device-height:414px)
and (orientation: landscape){
  body{
    padding: 0 0 0 0;
    margin: 0 0 0 0;
  }
  .etkLogo{
    display: none;
  }
  .container{
    /*margin: 0 0 0 0 !important;*/
  }
  .hide{
     display: none;
  }
  .underwater{
    display: none;
  }
  .backButton{
    display: none;
  }
  .rotate{
    width: 300px;
    height: 300px;
    position: absolute;
    top:120px;
    left: 330px;
  }
  .rotateIpad{
    width: 0px;
    height: 0px;
  }
  .textHide{
    font-size: 35px;
    color: #fff;
    position: absolute;
    top: 350px;
    left: 250px;
  }
  #game {
      display: block;
  }
}

/* ipad */
@media only screen
and (device-width:768px)
and (device-height:1024px)
and (orientation: portrait){
  .backButton{
    padding: 5px 0px 0 0.5em;
    font-size: 6em;
    color: white;
    position: absolute;
    left: 0;
    z-index: 50;
  }
  .etkLogo{
    display: none;
  }
  body{
    margin: 0 0 0 0;
  }
  .hide{
     background-color: red;
     position: absolute;
     width: 100vw;
     height: 100vh;
  }
  .rotate{
    width: 0px;
    height: 0px;
  }
  .rotateIpad{
    width: 380px;
    height: auto;
    position: absolute;
    top:450px;
    left: 310px;
  }
  .textHide{
    font-size: 50px;
    color: #fff;
    position: absolute;
    top: 750px;
    left: 200px;
  }
  #game{
      display: none;
  }
}
@media only screen
and (device-width:1024px)
and (device-height:768px)
and (orientation: landscape){
  body{
    padding: 0 0 0 0;
    margin: 0 0 0 0;
  }
  .container{
    /*margin: 7vh 0 0 0 !important;*/
    padding: 12vh 0 !important;
  }
  .etkLogo{
    display: none;
  }
  .hide{
     display: none;
  }
  .underwater{
    display: block;
  }
  .picUnder{
    width: 100vw;
    height: 60vh;
  }
  .backButton{
    display: none;
  }
  .rotate{
    width: 400px;
    height: 400px;
    position: absolute;
    top:140px;
    left: 300px;
  }
  .rotateIpad{
    width: 0px;
    height: 0px;
  }
  .textHide{
    font-size: 40px;
    color: #fff;
    position: absolute;
    top: 450px;
    left: 250px;
  }
  #game {
      display: block;
  }
}

/* ipadpro */
@media only screen
and (device-width:1024px)
and (device-height:1366px)
and (orientation: portrait){
  .backButton{
    padding: 5px 0px 0 0.5em;
    font-size: 6em;
    color: white;
    position: absolute;
    left: 0;
    z-index: 50;
  }
  .etkLogo{
    display: none;
  }
  body{
    margin: 0 0 0 0;
  }
  .hide{
     background-color: red;
     position: absolute;
     width: 100vw;
     height: 100vh;
  }
  .rotate{
    width: 0px;
    height: 0px;
  }
  .rotateIpad{
    width: 380px;
    height: auto;
    position: absolute;
    top:450px;
    left: 310px;
  }
  .textHide{
    font-size: 50px;
    color: #fff;
    position: absolute;
    top: 750px;
    left: 200px;
  }
  .etkLogo{
    display: none;
  }
  #game{
      display: none;
  }
}
@media only screen
and (device-width:1366px)
and (device-height:1024px)
and (orientation: landscape){
  body{
    padding: 0 0 0 0;
    margin: 0 0 0 0;
  }
  .etkLogo{
    display: none;
  }
  .container{
    margin: 14.5vh 0  !important;
    padding: 0 0 0 0;

  }
  .hide{
     display: none;
  }
  .rotate{
    width: 400px;
    height: 400px;
    position: absolute;
    top:300px;
    left: 470px;
  }
  .rotateIpad{
    width: 0px;
    height: 0px;
  }
  .textHide{
    font-size: 45px;
    color: #fff;
    position: absolute;
    top: 630px;
    left: 380px;
  }
  .picUnder{
    width: 100vw;
    height: 60vh;
  }
  #game {
      display: block;
  }
}
