@import url('fontface-thaisansneue.css');

body {
    margin: 50px 0 0 0;
    background: #ececec
}

@font-face {
    font-family: 'Kanit', sans-serif;
}

a {
    color: #1D3C5C;
}
h1{
  font-family:'Thaisans Neue for Web';
}
.container {
    text-align: center;
    color: #fff;
}
#game canvas{
    margin: -35px auto;
}
